body{
    background: rgb(173, 194, 214);
    aspect-ratio: 16/9;
}
.text{
    position: absolute;
    top: 5%;
    left: 25%;
    color: rgb(241, 185, 0);
   
    
}
.content{
    position: absolute;
    top: 10%;
    left: 19%;
    display: flex;
    
}

.images{
    display: flex;
    margin-top: 400;
}

.img_setting{

padding: 10px;
}


